<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tp4</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>bc</servlet-name>
    <servlet-class>
			ema.tpjee.banking.controlerv2.BankControler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bc</servlet-name>
    <url-pattern>/bank.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bc</servlet-name>
    <url-pattern>/banque.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bc</servlet-name>
    <url-pattern>*.dollars</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientControler</display-name>
    <servlet-name>ClientControler</servlet-name>
    <servlet-class>
			ema.tpjee.banking.controlerv2.ClientControler
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientControler</servlet-name>
    <url-pattern>/customer.do</url-pattern>
  </servlet-mapping>
</web-app>